body{
    height: 110vh;
}
/* forms */
h1 {
    color: #fff;
	font-weight: bold;
}

a {
	color: #fff;
	font-size: 14px;
	text-decoration: none;
	margin: 5px 0;
}

.sign-in-container button {
	border-radius: 20px;
	border: 1px solid #a531ba;
	background-color: #BA68C8;
	color: #FFFFFF;
	font-size: 12px;
	font-weight: bold;
	padding: 8px 15px;
	letter-spacing: 1px;
	text-transform: uppercase;
	transition: transform 80ms ease-in;
}

.sign-in-container button:hover{
    transition: 0.75s;
    -webkit-box-shadow: 5px 5px 15px 0px rgba(0,0,0,0.41); 
    box-shadow: 5px 5px 15px 0px rgba(0,0,0,0.41);
    transform: translateY(-0.1rem);
}

.sign-in-container form {
	background-color: #a531ba;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 50px;
	height: 100%;
	text-align: center;
}

.sign-in-container input {
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
}
.container {
	border-radius: 10px;
  	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 
			0 10px 10px rgba(0,0,0,0.22);
	position: relative;
	overflow: hidden;
	width: 768px;
	max-width: 100%;
	min-height: 360px;
}

.form-container {
	position: absolute;
	top: 0;
	height: 100%;
}

.sign-in-container {
	width: 50%;
	z-index: 3;
}

.container.right-panel-active .sign-in-container {
	transform: translateX(100%);
}

.sign-up-container {
	left: 0;
	width: 50%;
	opacity: 0;
	z-index: 1;
}

.container.right-panel-active .sign-up-container {
	transform: translateX(100%);
	opacity: 1;
	z-index: 5;
	animation: show 0.6s;
}


.overlay-container {
	position: absolute;
	top: 0;
	right: 0;
	width: 50%;
	height: 100%;
	overflow: hidden;
	transition: transform 0.6s ease-in-out;
	z-index: 100;
}


.social-container {
	margin: 20px 0;
}

.social-container a {
	border: 1px solid #BA68C8;
	border-radius: 50%;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	margin: 0 5px;
	height: 40px;
	width: 40px;
}
.social-container a:hover{
    transition: 0.75s;
    -webkit-box-shadow: 5px 5px 15px 0px rgba(0,0,0,0.41); 
    box-shadow: 5px 5px 15px 0px rgba(0,0,0,0.41);
    transform: translateY(-0.5px);
}
